package component

templ Page() {
        <html>
                <head>
                </head>
        </html>
}

templ MatchCard(name string) {
        <div>
                <div>
                <p> OK, {name} </p>
                </div>
        </div>
}
