package components

templ HomePage() {
	@base("YUJIN.GG") {
		<div class="mx-auto pt-10">
			<header>
				<div>
					<div class="flex">
						<h1 class="text-8xl font-black font-mono">YUJIN.GG</h1>
					</div>
				</div>
			</header>
		</div>
	}
}
