package partial

import "fmt"
import "github.com/rank1zen/yujin/internal/database"
import "github.com/rank1zen/yujin/internal/ui/comp"
import "github.com/rank1zen/yujin/internal/riot"


func genLiveGameQuery(puuid riot.PUUID) string {
	return fmt.Sprintf("/profile/%s/livegame", puuid)
}
